@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

// Fonts
$font-family-nunito: 'Nunito', sans-serif;
$font-family-sigmar: 'Sigmar One', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
